::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme-color: #e02c6d;
}

::selection {
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* header-section */
.header {
  margin: 40px 100px;
}
.header-section {
  display: flex;
  justify-content: space-between;
}
.header-title h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  font-feature-settings: "liga" off;
}
.header-nav {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" on;
}
.header-nav p {
  padding-left: 20px;
}
.fa-cart-arrow-down,
.fa-magnifying-glass {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 20px;
}
/* banner */
.banner {
  margin: 10px 0px 10px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  font-style: normal;
}
.banner-text button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 8px;
  background: #e02c6d;
  border-radius: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.fa-arrow-right {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
.banner-img {
  background-image: url(images/Circle-design.svg);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 441px;
  height: 414px;
}
