@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme-color: #e02c6d;
  --theme-font: "Poppins", sans-serif;
}

::selection {
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* header-section */
.container {
  margin: 20px 50px;
}
.header-section {
  display: flex;
  justify-content: space-between;
}
.header-title h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  font-feature-settings: "liga" off;
}
.header-nav {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" on;
}
.header-nav p {
  padding-left: 20px;
}
.fa-cart-arrow-down,
.fa-magnifying-glass {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 20px;
}
/* banner */
.banner {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 52px;
  /* line-height: 60px; */
  font-style: normal;
}
.banner-text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
}
.banner-text button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 8px;
  background: #e02c6d;
  border-radius: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.fa-arrow-right {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
.banner-img {
  background-image: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  width: 400px;
  height: 400px;
}
/* logos */
.logo-section {
  padding: 100px 0px;
}
.logos {
  padding: 10px;
  background-color: #aaaaaa00;
  width: max-content;
  margin: auto;
  border: 1px solid rgba(172, 166, 166, 0.345);
  border-radius: 10px;
}
.logos img {
  width: 66px;
  height: 45px;
  margin-left: 20px;
}
